{% extends "base.html" %}
{% block content %}
  <h2> new post </h2>

  <form method="post">
    <label>
        <div>Subject</div>
        <input type="text" name="subject" maxlength="100" value="{{subject}}">      
    </label>

    <label>
      <div>Content</div>
      <textarea name="content">{{content}}</textarea>
    </label>

    <div class="error">{{error}}</div>
    <input type="submit">

  </form>

  {% for entry in entries%}
    {{ entry.render() | safe }}
    <br><br>
  {% endfor %}

{% endblock %}

